<section class="main-screen">
	<div class="main-screen__content">
		<div class="main-screen__text">
			<h1 class="main-screen__title">
				Now Buy Your <br />
				PIN or <span class="main-screen__highlight">Top Up</span> <br />With
				Bank Transfer
			</h1>

			<p class="main-screen__description"></p>
		</div>

		<button class="main-screen__button">Get Started</button>
		<div class="main-screen__search">
			<input
				class="main-screen__search-input"
				type="text"
				minlength="4"
				maxlength="12"
				oninput="this.value = this.value.replace(/[!@#$%^&*()]/g, '')"
				placeholder="Where do you want to call?"
			/>
			<button class="main-screen__search-button">
				<img src="/assets/icons/search-icon.svg" alt="Поиск" />
			</button>
		</div>
		<div class="main-screen__users">
			<div class="main-screen__users-container">
				<img src="/assets/users/user-1.png" alt="User-1" />
				<img src="/assets/users/user-2.png" alt="User-2" />
				<img src="/assets/users/user-3.png" alt="User-3" />
				<img src="/assets/users/user-plus.svg" alt="User-plus" />
			</div>
			<div class="main-screen__users-text">
				45k+ Regular User.
				<a href="#">View Price Plan</a>
			</div>
		</div>
	</div>

	<div class="main-screen__image">
		<div class="main-screen__image-circle_gray">
			<img
				class="anim-flag-1"
				src="/assets/girl-flags/flag-1.png"
				alt="Flag-1"
			/>
			<img
				class="anim-flag-2"
				src="/assets/girl-flags/flag-2.png"
				alt="Flag-2"
			/>
			<img
				class="anim-flag-3"
				src="/assets/girl-flags/flag-3.png"
				alt="Flag-3"
			/>
			<img
				class="anim-flag-4"
				src="/assets/girl-flags/flag-1.png"
				alt="Flag-4"
			/>
			<img
				class="anim-flag-5"
				src="/assets/girl-flags/flag-1.png"
				alt="Flag-5"
			/>
			<img
				class="anim-flag-6"
				src="/assets/girl-flags/flag-3.png"
				alt="Flag-6"
			/>
		</div>
		<div class="main-screen__image-circle_green"></div>

		<img src="/assets/girl-flags/girl.png" alt="Девушка с телефоном" />
	</div>
</section>
