<header>
	<!-- Logo -->
	<a class="logo" href="/">
		<img src="./assets/icons/logo-icon.svg" alt="Logo" />
		<span>Global</span>
	</a>
	<!-- Navigation -->
	<div class="navigation">
		<button class="navigation__menu-button">Menu</button>
		<nav>
			<ul>
				<li><a href="#">Mobile Top Up</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Rate</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</nav>
	</div>
	<!-- Sign Up button -->
	<button class="signup-button">Sign Up</button>
</header>
